<%- include("template/rotulo") %>
<body>
    <h1 class="text-primary">Titulo de la Pagina</h1>
 
        <h1>Titulo estatico</h1>
        <h2>contenido de la pagina </h2>
        <h3><%= variable %></h3>
    
</body>
</html>