<%- include("template/rotulo")%>
<body>
  
    <form action="/" method="post">
        <label for="POST-name">Nombre:</label>
        <input id="Nombre" type="text" name="nombre" Required>
        <label for="escripcion">Descripcion:</label>
        <input id="Descripcion" type="text" name="descripcion" Required >
        <label for="Imagen">Imagen:</label>
        <input id="Imagen" type="file" name="imagen" >

        <input type="submit" value="Save">
      </form>


      <p id="cont1"></p>
      <p id="count2"></p>
</body>
</html>