<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/bootstrap.css">
    
    <script>
        function consultar(a,b){
            
         
            var valor = prompt("Cuantos vas a comprar", "");
            console.log(valor)
            var comprar= document.getElementById("comprar");
            var posiciona = document.getElementById("valor1");
            var posicionb = document.getElementById("valor2");
            b=b-valor
            posiciona.value=a
            posicionb.value=b
            comprar.submit()


            }
        </script>

    <!--Lllamado a la hoja de estilos-->
    <link rel="stylesheet" href="/main.css">
  
    <title>EJERCICIO1</title>
</head>
<ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/inventario">Inventario</a></li>
    <li><a href="/insumos">Nuevos Insumos</a></li>



    
</ul>



<body>

    <form action="/comprar" method=post id="comprar">
        <input type="hidden" name="a" value="" id="valor1">
        <input type="hidden" name="b" value="" id="valor2">
    
        
        </form>
  
   
        
  
 
</body>

</html
