<%- include("template/rotulo")%>
<body>
  <div style="text-align: center; padding:1%; " class="container-fluid" id="princiapl">
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="POST-name">Nombre:</label>
        <input id="Nombre" type="text" name="nombre" Required class="form-control">
        <label for="escripcion">Descripcion:</label>
        <input id="Descripcion" type="text" name="descripcion" Required class="form-control">
        <label for="Imagen">Imagen:</label>
        <input id="Imagen" type="file" name="imagen" required class="form-control">
        </div>
        <div style="text-align: center; padding:1%; " class="form-control-file" >
        <input type="submit" value="Save" class="btn btn-outline-success">
      </div>
      </form>
    

     

    
</body>
</html>