<%- include ("templatte/header", {tituloweb:'Pagina de prueba'}) %>

<body>
    <h1>Contenido de la pagina personas</h1>
 
        <h1>Titulo estatico</h1>
        <h2><%= titulo %></h2>
        <h3><%= parrafo %></h3>
    
</body>
</html>